<!-- Navbar-->
<header>
    <nav class="navbar bg-light">
        <div class="container">
            <a class="navbar-brand">Tienda BSale</a>
            <form class="d-flex" action="/" method="POST" role="search">
                <input class="form-control me-2" type="search" name="text" placeholder="Busqueda" aria-label="Search">
                <button class="btn btn-outline-success" type="submit" id="typeSearch">Busqueda</button>
            </form>
        </div>
    </nav>
</header>