<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
</head>

<body>

    {{> Navbar}}

    <div class="container-fluid min-vh-100">
        <div class="row">
            <div class="col-md-2 bg-secondary text-light min-vh-100">
                {{#each categorias}}
                {{>CategoryButton
                data = this
                }}
                {{/each}}
            </div>
            <div class="col-md-10">
                <div class="row">
                    {{#each product}}
                    {{> ProductCards
                    item = this
                    }}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>



    <script src="/bootstrap/bootstrap.js"></script>
    <script src="/js/frontmain.js"></script>
    <script>
        const lateralButtons = document.querySelectorAll('.redirect-search-number')

        lateralButtons.forEach((button) => {
            button.addEventListener('click', (event) => {
                const category = event.target.dataset.category
                window.location.replace(`/${category}`)
            })
        })

        const searchBar = document.querySelector('#typeSearch')
        searchBar.addEventListener(event => {
            const {text} = req.body
            console.log(text)
        })
    </script>
</body>

</html>