<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.css" />
</head>

<body>
    <!-- Navbar-->
    <header>
        <nav class="navbar bg-light">
            <div class="container">
                <a class="navbar-brand">Tienda BSale</a>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Busqueda" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Busqueda</button>
                </form>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">.col-md-4</div>
            <div class="col-md-8">
                <div class="row">
                    asdfasdf
                    <!--Aqui deberia agregarse mas col-->
                </div>
            </div>
        </div>
    </div>

    Hola mundo!
    <script src="/bootstrap/bootstrap.js"></script>
    <script src="/js/frontmain.js"></script>
</body>

</html>